*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container{
    width: 100%;
    height: 100%;
}
.head-img{
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1528164344705-47542687000d?q=80&w=1792&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); /* Đường dẫn đến ảnh nền */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -10px;
    color: white;
    padding: 20px;
    position: relative;
    margin-bottom: 50px;
}
.head-line {
    position: relative; /* Đảm bảo nội dung không bị che khuất bởi overlay */
    z-index: 1; /* Đảm bảo nội dung hiển thị phía trước overlay */
    width: 70%;
    padding: 80px 120px;
}
.search-bar{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 80%;
    margin-top: 50px;
    margin: 0 auto;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 160px;

  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .show {
    display: block;
  }
 
  .dropbtn{
    width: 100%;
    border-radius: 10px;
    height: 37px;
    border: 1px solid #ccc;
    background-color: #ffff;
  }
  .search-btn{
    display: inline-block;
    padding: 10px 20px; 
    background-color: #BC2228; 
    color: white; 
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .input-search{
    height: 31px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid;
  }
  .search-btn:hover {
    background-color: #990000; 
}

.title-blog{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    border-bottom: 2px solid #ccc;
    width: 60%;
    margin: 0 auto;
}

.blog-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
}
img{
    max-width: 100%;
    display: block;
    object-fit: cover;
}
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #edeceb;
  background: linear-gradient(to right, #fff, #eae8e7);
}

.blog-content{
  padding: 1rem;
  overflow: hidden;
  line-height: 1.5; /* Đảm bảo độ cao dòng là 1.5 lần độ cao của phông chữ */
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.blog-content p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Giới hạn số dòng hiển thị */
  -webkit-box-orient: vertical;
  line-height: 1.5; /* Đảm bảo độ cao dòng là 1.5 lần độ cao của phông chữ */
  max-height: 6em; /* Giới hạn chiều cao của phần nội dung */
  position: relative;
}
.blog-content span{
  text-transform: capitalize;
  color: green;
}

.blog-content p::after {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
}
.action-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}
.blog-img{
  height: 45%;
}
.update-btn{
  padding: 5px;
  background: #007bff;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  margin-left: 10px;
}
.update-btn a{
  text-decoration: none;
  color: white;
}
.view-btn{
  padding: 5px;
  background: #28a745;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  margin-right: 10px;
  
}
.view-btn a{
  text-decoration: none;
  color: white;

}

.action-btn button:hover.update-btn {
  background-color: #0056b3; /* Màu xanh biển */
}

.action-btn button:hover.view-btn {
  background-color: #218838; /* Màu xanh lá cây */
}


/* View Blog Css */
.blog-container{
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  margin: 0 auto;
}
.view-blog-content{
  margin-top: 30px;
}
.view-blog-content span{
  text-transform: capitalize;
  color: green;
}
.top-line{
  text-align: center;
  width: 50%;
}
.top-line h3{
  margin-bottom: 20px;
  border-bottom: 1.5px solid #ccc;
}
.back-btn{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.back-btn a{
  font-weight: bold;
  color: #787878;
  text-decoration: none;
  border-bottom: 2px solid #ccc;
}
.back-btn a:hover{
  color: #3b3b3b;
}
.back-btn i{
  margin-right: 5px;
}